:root {
    --main-font: 'Helvetica Neue', sans-serif;

    --holder-width: 475px;
    --holder-background: #1d1d1d;

    --main-text-color: #636363;
    --main-background: #191919;

    --cal-background: #171717;
    --cal-text: #797979;

    --hilight-color: #cf8f64; 

    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    background: var(--main-background);
    height: 100%;
    color: var(--main-text-color);
}
#holder {
    background: var(--holder-background);
    max-width: var(--holder-width);
    margin: auto;
    height: 100%;
}
.header {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(7, 1fr);
}
.header > div {
    padding: 20px;
    text-align: center;
}
.header .prev-button {
    grid-column: 1;
}
.header .title {
    grid-column: 2 / 7;
    cursor: pointer;
}
.header .next-button {
    grid-column: 7;
}
.header .button {
    font-size: 24px;
    font-weight: 300;
    cursor: pointer;
}
.header .title h1 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
.calendar {
    background: var(--cal-background);
    font-size: 14px;
    font-weight: 300;
    padding: 20px 0;
}
.calendar .table {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(7, 1fr);
}
.calendar .table .day {
    text-align: center;
    cursor: pointer;
    transition: 0.5s color;
}
.calendar .table .day.has {
    color: var(--hilight-color);
}
.calendar .table .day.editing {
    color: #adadad;
}
.editor {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding: .5em 1.5em;
}
.editor h2 {
    font-size: 24px;
    font-weight: 300;
}
.editor a {
    color: var(--hilight-color);
    text-decoration: none;
}
.editor .label {
    color: var(--hilight-color);
    padding: .3em 0;
}
.editor .empty-list-item {
    margin-top: 20px;
    font-size: 18px;
}
.editor .buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(5px, 1fr));
    position: absolute;
    padding: 12px;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: var(--holder-width);
    margin: auto;
  }
  .editor .buttons > div {
    cursor: pointer;
  }
  .editor .buttons .confirm-button {
    color: var(--hilight-color);
}
.editor .buttons .confirm-button.disabled {
    color: var(--main-text-color);
    cursor: default;
}
.editor .buttons .cancel-button {
    color: var(--main-text-color);
}
.editor .create-event-input-holder {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 55px auto;
    margin-bottom: 5px;
    padding-bottom: 9px;
    margin-top: 9px;
    /* border-bottom: 1px dotted var(--main-text-color); */
    text-align: left;
}
.editor .create-event-input-holder {
    text-align: left;
}
.editor input {
    background: var(--cal-background);
    border: 0;
    padding: .3em .5em;
    margin: 0;
    color: var(--main-text-color);
    font-weight: 300;
    font-size: 16px;
}
.editor .event-list-item {
    display: grid;
    grid-template-columns: 55px auto;
    margin-bottom: 5px;
    padding-bottom: 9px;
    margin-top: 9px;
}
.editor .event-list-item .start {
  text-align: left;
  padding: .3em 0;
}
.editor .event-list-item .name {
  color: var(--hilight-color);
  padding: .3em 0;
  text-align: left;
}
.editor .show-form-button {
    color: var(--hilight-color);
}
.editor .hidden {
    display: none;
}
.editor .delete-disclaimer {
  margin: 1.5em auto;
}